asgiref==3.11.1
black==26.5.1
click==8.4.1
crispy-bootstrap5==2024.2
Django==5.2.15
django-crispy-forms==2.2
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pytokens==0.4.1
sqlparse==0.5.5
