<!-- templates/registration/login.html -->
 {% extends "base.html" %}
 {% load crispy_forms_tags %}

 {% block title %} Log In {% endblock title %}

 {% block content %}
    <h2 style="margin-bottom: 5px; padding: 20px;">Log In Here</h2>
    <form method="post" style="margin: 40px 0; padding: 30px;">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ms-2" type="submit"> Log Me In! </button>
    </form>
    <div class="text-center">
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    <small>You bring shame to your family.</small>
    </div>
    
 {% endblock content %}