<!-- templates/registration/password_change_form.html-->

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Change Password {% endblock title %}

{% block content %}
<h1>Passwords They Be Changein'</h1>
<p>Please enter your old password, so we can make sure to take it to a farm upstate. 
    Then enter your new password twice and forget all about the old one.
</p>

<form method="POST" style="margin: 40px 0; padding: 30px;">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Change my password"
</form>

{% endblock content %}

