<!-- templates/article_detail.html -->

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="article-entry" style="width: 70%; margin: 0 auto;">
    <h2>{{ article.title }}</h2>
    <p>by {{ article.author }} | {{ article.date }}</p>
    <p> {{ article.body }} </p>
</div>
<hr />
<h4 style="text-align: center;">Intelligent Debate</h4>
<div style="width: 70%; margin: 0 auto;">
{% for comment in article.comment_set.all %}
<p><strong>{{ comment.author }} </strong> &middot; {{ comment }} </p>
{% endfor %}
</div>
<hr />
<div style="width: 70%; margin: 0 auto;">
    <h4>Add your """great""" opinion</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ms-2" type="submit"> Save </button>
    </form>
</div>
<div>
    <div class="card-footer text-center text-muted">
        {% if article.author.pk == request.user.pk %}
        <a href="{% url 'article_edit' article.pk %}">Change the Future</a> | 
        <a href="{% url 'article_delete' article.pk %}">Delete the Past</a>
        {% endif %}
        <p>Go Back to <a href="{% url 'article_list' %}">All Articles</a></p>
    </div>
</div>

{% endblock content %}